body {
    margin: 0;
}
h1, p{
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #e5e7eb;

}

/* Style navigation in header */
.header {
    background-color: #1f2837;
    color: white;
    padding: 20px 0;
}
.container {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.icon {
    background-color: white;
    padding: 6px;
    border-radius: 10px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 66px;
}
.navigation ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

/* Style content in header */
.article {
    display: flex;
    width: 100%;
    height: 300px;
    gap: 66px;
}
.article h1 {
    font-size: 48px;
}

.header ul, .header p{
    font-size: 18px;
    color: #e5e7eb;
}
.text {
    display: flex;
    flex-flow: column;
    flex: 1;
    justify-content: space-between;
}
button {
    width: 140px;
    padding: 10px;
    border-radius: 12px;
    background-color: #3882f6;
    color: white;
    font-size: 14px;
    border-style: none;
}


/* Styles for looks section */
.container-looks {
    width: 1000px;
    margin: 0 auto;
    padding: 35px 0 100px 0;
}
.container-looks h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
   color: #1f2937 ;
   margin: 0;
   padding-bottom: 30px ;
}
.container-looks-item {
    display: flex;
    justify-content: space-between;
}
.container-looks-item img {
    width: 200px;
    height: 260px;
    border: 5px solid  #3882f6;
}
.item {
    display: flex;
    flex-direction: column;
    flex: 0;
}
.item img {
    border-radius: 30px;
}
.item .text {
    margin-top: 10px;
    justify-content: start;
    font-size: 18px;
    color: #858688;
    text-align: center;
}


/* Styles for quote */
.container-inspiraion {
    background-color: #e5e7eb;
}
.container-inspiraion-quote {
    width: 1000px;
    margin: 0 auto;
    padding: 70px;
}

.quote {
    display: flex;
    flex-direction: column;
}
.quote blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937ce;
    font-weight: lighter;
    margin: 0;
}
.quote p {
    text-align: right;
    font-size: 28px;
    font-weight: 900;
    color: #090b0fce;
}

/* Styles for Sign up */